@import '../../styles/breakpoints';

.container {
  margin: 0 auto;
  min-height: calc(100vh - var(--spacing-normal));
  padding-top: var(--spacing-normal);
  width: var(--mobile-layout-width);
}

@media screen and(min-width: $desktopBreakpoint) {
  .container {
    max-width: var(--desktop-layout-width);
  }
}
