@import '../../styles/breakpoints.scss';

article {
  background: var(--color-white);
  padding: var(--spacing-small);
}

@media screen and(min-width: $desktopBreakpoint) {
  article {
    padding: var(--spacing-normal);
  }
}
